@import url("https://xcruxiex.github.io/themes/themes-cores/neutron8.css");
@import url("https://xcruxiex.github.io/themes/core/badges.css");
@import url("https://xcruxiex.github.io/themes/core/custom-font.css");
@import url("https://xcruxiex.github.io/themes/core/settings-icons.css");

:root {
    /* COLORS */
    --themeColor1: rgb(200, 150, 70);
    --themeColor2: rgb(255, 255, 255);

    /* CUSTOM FONT */
    --customFont: 'gg sans', sans-serif;

    /* HOME BUTTON */
    --homeImageSize: cover;

    /* BACKGROUND */
    --backgroundColor: #0d0d0d;
    --backgroundPosition: center;
    --backgroundSize: cover;
    --backgroundRepeat: no-repeat;
    --backgroundBlur: 0px;
    --backgroundOpacity: .23;

    /* CODE BLOCKS */
    --backgroundCode: rgba(0, 0, 0, .5);
    --backgroundName: rgba(0, 0, 0, .5);

    /* BACKGROUND IMAGE  */

    /* 8bit Miku*/
    /* --homeImage: url('http://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/1130f5bbd42eb5a.png'); */

    /* Madoka */
    /* --homeImage: url('https://media.tenor.com/h1_rmLz2yXUAAAAd/madoka-madoka-kaname.gif'); */

    /* --- QB --- */
    --homeImage: url('https://github.com/as2648as/MyFiles/blob/main/kyubey-anime-128x95.png?raw=true');

    /* ===== backgroundImage ===== */

    /* --- 圓神 --- */
    --backgroundImage: url('https://images4.alphacoders.com/683/683426.png');

    /* --- 小圓 & 焰 --- */
    /* --backgroundImage: url('https://r4.wallpaperflare.com/wallpaper/300/442/399/kaname-madoka-akemi-homura-mahou-shoujo-madoka-magica-thigh-highs-wallpaper-fb36fc3d63316f1925a47bf95d6cbcb0.jpg'); */
}

/* Embed Color */
.grid_b0068a,
.embedFull_b0068a {
    background-color: rgba(0, 0, 0, .25);
}

/* Input Text Area */
.channelTextArea_a7d72e {
    background-color: rgba(70, 70, 70, .5);
}