@import url("https://nyri4.github.io/Discolored/main.css");
@import url("https://xcruxiex.github.io/themes/core/custom-font.css");
@import url("https://raw.githubusercontent.com/xcruxiex/themes/refs/heads/master/themes-cores/neutron8.css");

:root {
    --customFont: 'gg sans', 'GenSenRounded TW'; /* 源泉圓體 */
    --themeColor1: rgba(255, 200, 200, .55);
    --themeColor2: rgba(255, 200, 150, .55);
    --homeImage: url('https://github.com/as2648as/MyFiles/blob/main/Discord-Theme/images/Home/kyubey-anime-128x95.png?raw=true');
    --backgroundImage: url('https://github.com/as2648as/MyFiles/blob/main/Discord-Theme/images/Background/madoka-homura.jpg?raw=true');
    --backgroundBlur: 0px;
    --backgroundOpacity: .25;

    --white-blur-area-background-color: rgba(100, 100, 100, .3);
    --white-blur-area-box-shadow: 0px 0px 5px 5px rgba(200, 200, 200, .3);
    --black-blur-area-background-color: rgba(0, 0, 0, .3);
    --black-blur-area-box-shadow: 0px 0px 5px 1px rgba(200, 200, 200, .3);
}

::selection {
    background: var(--themeColor2);
}

.badgeList__1fed1, /* badge 列表背景 */
.field__1fed1      /* 個人資料背景 */
{
    background-color: transparent;
}

.button__201d5 /* 按鈕 */
{ 
    background-color: rgba(0, 0, 0, .25) !important;
    box-shadow: 0px 0px 2px 1px rgba(200, 200, 200, 0.25);
}

.button__201d5:hover /* 按鈕:hover */
{ 
    background-color:  rgba(100, 100, 100, .50) !important;
}

.messageListItem__5126c { /* 訊息 */
    margin: 0.5rem;
    border-radius: 5px;
    backdrop-filter: blur(0px);
    transition: all ease 0.5s;
}

.messageListItem__5126c:hover  /* 訊息:hover */
{
    background-color: var(--white-blur-area-background-color);
    box-shadow: var(--white-blur-area-box-shadow);
    backdrop-filter: blur(10px);
    transition: 
        backdrop-filter ease 1s,
        background-color ease 0.5s,
        box-shadow ease 0.5s,
        ;
}

.channelTextArea_f75fb0.channelTextArea__74017 /* 文字輸入框 */
{
    background-color: var(--black-blur-area-background-color) !important;
    box-shadow: var(--black-blur-area-box-shadow);
    backdrop-filter: blur(5px)
}

.panel__5dec7 /* 直播提示面板 */
{
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: var(--black-blur-area-background-color) !important;
    box-shadow: var(--black-blur-area-box-shadow);
    backdrop-filter: blur(5px);
}

.container_e131a9 /* 語音連線資訊面板 */
{
    padding-top: 1rem !important;
    background-color: var(--black-blur-area-background-color);
    box-shadow: var(--black-blur-area-box-shadow);
    backdrop-filter: blur(5px);
}

.container__37e49 /* 個人資訊面板 */
{
    border-top: 1.5px solid rgba(200, 200, 200, .2);
    background-color: var(--black-blur-area-background-color) !important;
    box-shadow: var(--black-blur-area-box-shadow);
    backdrop-filter: blur(5px);
}

.interactiveSelected__972a0.selected_bf202d, /* 私人訊息 */
.interactive_bf202d.interactive__972a0:hover /* 私人訊息:hover */
{
    background-color: var(--white-blur-area-background-color) !important;
    box-shadow: var(--white-blur-area-box-shadow) !important;
}

.chatTarget__01ae2
{
    background-color: var(--white-blur-area-background-color) !important;
    box-shadow: var(--white-blur-area-box-shadow);
    backdrop-filter: blur(20px);
}