@import url("https://nyri4.github.io/Discolored/main.css");
@import url("https://xcruxiex.github.io/themes/core/custom-font.css");
@import url("https://raw.githubusercontent.com/xcruxiex/themes/refs/heads/master/themes-cores/neutron8.css");

:root {
    --customFont: 'gg sans', 'GenSenRounded TW'; /* 源泉圓體 */
    --themeColor1: rgba(255, 200, 200, .55);
    --themeColor2: rgba(255, 200, 150, .55);
    --homeImage: url('https://github.com/as2648as/MyFiles/blob/main/Discord-Theme/images/Home/kyubey-anime-128x95.png?raw=true');
    --backgroundImage: url('https://github.com/as2648as/MyFiles/blob/main/Discord-Theme/images/Background/madoka-homura.jpg?raw=true');
    --backgroundBlur: 0px;
    --backgroundOpacity: .25;

    --white-box-shadow-s: 0px 0px 1px 1px rgba(100, 100, 100, .75);
    --white-box-shadow-m: 0px 0px 3px 2px rgba(100, 100, 100, .5);
    --white-box-shadow-l: 0px 0px 5px 3px rgba(100, 100, 100, .5);

    --black-box-shadow-s: 0px 1px 1px rgba(0, 0, 0, .5);
    --black-box-shadow-m: 0px 3px 3px rgba(0, 0, 0, .5);
    --black-box-shadow-l: 0px 5px 5px rgba(0, 0, 0, .5);

    --panel-background-color: rgba(30, 30, 30, .3);
    --textarea-background-color: rgba(30, 30, 30, .3);
    --message-background-color: rgba(100, 100, 100, .5);
    --channel-background-color: rgba(100, 100, 100, .5);

    --button-hover-background-color: rgba(100, 100, 100, .5);
}

::selection {
    background: var(--themeColor2);
}

/* badge 列表 & 個人資料背景透明化 */
.badgeList__1fed1, 
.field__1fed1,
.button__201d5 {
    background-color: transparent !important;
}

/* 按鈕 */
.button__201d5 { 
    box-shadow: var(--white-box-shadow-s);
}

/* 按鈕:hover */
.button__201d5:hover { 
    background-color: var(--button-hover-background-color) !important;
}

/* 訊息 */
.messageListItem__5126c { 
    margin: 10px 5px;
    border-radius: 10px;
    transition: all ease 0.5s;
}

/* 訊息:hover */
.messageListItem__5126c:hover {
    background-color: var(--message-background-color);
    box-shadow: var(--black-box-shadow-m);
    backdrop-filter: blur(10px);
    transform: translateY(-1px);
    transition: all ease 0.1s;
}

/* 文字輸入框 */
.channelTextArea_f75fb0.channelTextArea__74017 {
    background-color: var(--textarea-background-color) !important;
    box-shadow: var(--white-box-shadow-m);
    backdrop-filter: blur(20px);
}

/* 直播提示面板 */
.panel__5dec7 {
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: var(--panel-background-color) !important;
    box-shadow: var(--white-box-shadow-m);
    backdrop-filter: blur(20px);
}

/* 語音連線資訊面板 */
.container_e131a9 {
    padding-top: 1rem !important;
    background-color: var(--panel-background-color);
    box-shadow: var(--white-box-shadow-m);
    backdrop-filter: blur(20px);
}

/* 個人資訊面板 */
.container__37e49 
{
    background-color: var(--panel-background-color) !important;
    box-shadow: var(--white-box-shadow-m);
    backdrop-filter: blur(20px);
}

/* 私人訊息選中 */
.interactiveSelected__972a0 {
    background-color: var(--channel-background-color) !important;
    box-shadow: var(--black-box-shadow-s);
    transform: translateY(-1px);
}

/* 私人訊息:hover */
.interactive_bf202d:hover {
    background-color: var(--channel-background-color) !important;
    box-shadow: var(--black-box-shadow-s);
    transform: translateY(-1px);
}

/* 語音頻道聊天室背景 */
.chatTarget__01ae2 {
    background-color: var(--panel-background-color) !important;
    box-shadow: var(--white-box-shadow-s);
    backdrop-filter: blur(50px);
}

/* 新訊息 bar */
.newMessagesBar__0f481 {
    box-shadow: var(--black-box-shadow-m);
    backdrop-filter: blur(20px);
}