@import url("https://nyri4.github.io/Discolored/main.css");
@import url("https://xcruxiex.github.io/themes/core/custom-font.css");
@import url("https://raw.githubusercontent.com/xcruxiex/themes/refs/heads/master/themes-cores/neutron8.css");

:root {
    --customFont: 'gg sans', 'GenSenRounded TW'; /* 源泉圓體 */
    --themeColor1: rgba(255, 200, 200, .55);
    --themeColor2: rgba(255, 200, 150, .55);
    --homeImage: url('https://github.com/as2648as/MyFiles/blob/main/Discord-Theme/images/Home/kyubey-anime-128x95.png?raw=true');
    --backgroundImage: url('https://github.com/as2648as/MyFiles/blob/main/Discord-Theme/images/Background/madoka-homura.jpg?raw=true');
    --backgroundBlur: 0px;
    --backgroundOpacity: .25;
}

.badgeList__1fed1, /* badge 列表背景 */
.field__1fed1      /* 個人資料背景 */
{
    background-color: transparent;
}

.button__201d5 /* 按鈕 */
{ 
    background-color: rgba(0, 0, 0, .25) !important;
    box-shadow: 0px 0px 2px 1px rgba(200, 200, 200, 0.25);
}

.button__201d5:hover /* 按鈕:hover */
{ 
    background-color:  rgba(100, 100, 100, .50) !important;
}

.message__5126c {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
}

.messageListItem__5126c
{
    margin: 0.5rem;
    border-radius: 5px;
    transition: 
        background-color 0.3s ease, 
        box-shadow 0.3s ease,
        backdrop-filter ease-in .3s;
}

.messageListItem__5126c:hover
{
    background-color:  rgba(30, 30, 30, .30) !important;
    box-shadow: 0px 0px 0px 1px rgba(200, 200, 200, 0.15);
    backdrop-filter: blur(1px);
}
